.date-picker-timer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 6vh;
  width: fit-content;
  background-color: var(--clr-main);
  border-radius: 0.75rem;
  padding: 0 1rem;
}

.date-picker-hours,
.date-picker-minutes,
.date-picker-format {
  height: 100%;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  p {
    font-size: 1.15rem;
    font-weight: 500;
  }
}
